"*":
  "atom-beautify":
    general:
      _analyticsUserId: "5af0bdd9-e176-4960-bd67-c41273ccdfb9"
  "atomic-emacs":
    killToClipboard: false
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 18
    showInvisibles: true
  "exception-reporting":
    userId: "0881a08f-849a-46c0-b2e6-fe7b34bc741d"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
